* {
    margin: 0;
    padding: 0;
}

.input {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

.input_body {
    display: block;
}
.header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
    background-color: lightblue;
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 6rem;
    font-weight: 900;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family:'KoHo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}