* {
    margin: 0;
    padding: 0;
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

.input-left {
    display: inline-block;
    height: 80vh;
    width: 40vw;
    background-color: black;
}
.input-image {
    height: 50vh;
    width: 25vw;
    background-color: grey;
    display: block;
}

.input-file {
    display: block;
}

.input-submit {
    display:block;
}

.body-middle {
    display: inline-block;
    height: 80vh;
    width: 20vw;
    background-color: blue;
}

.output-right {
    display: inline-block;
    height: 80vh;
    width: 40vw;
    background-color: red;
}

.header {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
    background-color: lightblue;
}

.body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    background-color: white;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 6rem;
    font-weight: 900;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
    font-family:'KoHo', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}